TKB_G9/TKB_G9/Web References/G9Service/G9Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://abc.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://abc.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://abc.com/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getListPermissionByRole">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idRole" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getListPermissionByRoleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getListPermissionByRoleResult" type="tns:ArrayOfPermissionUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPermissionUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PermissionUser" nillable="true" type="tns:PermissionUser" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PermissionUser">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityObject">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ControllerName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EntityObject" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:StructuralObject">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="EntityKey" type="tns:EntityKey" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="StructuralObject" abstract="true" />
      <s:complexType name="EntityKey">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EntitySetName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EntityContainerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EntityKeyValues" type="tns:ArrayOfEntityKeyMember" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfEntityKeyMember">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EntityKeyMember" nillable="true" type="tns:EntityKeyMember" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EntityKeyMember">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" />
        </s:sequence>
      </s:complexType>
      <s:element name="getTaiKhoanByUserName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RelatedEnd" abstract="true" />
      <s:complexType name="EntityReference" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:RelatedEnd">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="EntityKey" type="tns:EntityKey" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EntityReferenceOfLoaiTaiKhoan">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityReference" />
        </s:complexContent>
      </s:complexType>
      <s:element name="getTaiKhoanByUserNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTaiKhoanByUserNameResult" type="tns:TaiKhoan" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TaiKhoan">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="MaTaiKhoan" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="TenTaiKhoan" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MatKhau" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LoaiTaiKhoanReference" type="tns:EntityReferenceOfLoaiTaiKhoan" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="getLoaiTaiKhoanByUserName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLoaiTaiKhoanByUserNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getLoaiTaiKhoanByUserNameResult" type="tns:LoaiTaiKhoan" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LoaiTaiKhoan">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="MaLoaiTK" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="TenLoaiTK" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="KiemTraDangNhap">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KiemTraDangNhapResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KiemTraDangNhapResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDanhSachLop">
        <s:complexType />
      </s:element>
      <s:complexType name="ArrayOfLop">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Lop" nillable="true" type="tns:Lop" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Lop">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="MaLop" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="TenLop" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="KhoiLop" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CaHoc" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="SiSo" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="GhiChu" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetDanhSachLopResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDanhSachLopResult" type="tns:ArrayOfLop" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLop">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="maLop" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLopResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLopResult" type="tns:Lop" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ThemLop">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lop" type="tns:Lop" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ThemLopResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ThemLopResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XoaLop">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="maLop" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XoaLopResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="XoaLopResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CapNhatLop">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lopClient" type="tns:Lop" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CapNhatLopResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CapNhatLopResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDanhSachGiaoVien">
        <s:complexType />
      </s:element>
      <s:complexType name="ArrayOfGiaoVien">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="GiaoVien" nillable="true" type="tns:GiaoVien" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GiaoVien">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="MaGiaoVien" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="TenGiaoVien" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="GioiTinh" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="NgaySinh" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="DiaChi" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DienThoai" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TenTK" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MonHocReference" type="tns:EntityReferenceOfMonHoc" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EntityReferenceOfMonHoc">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityReference" />
        </s:complexContent>
      </s:complexType>
      <s:element name="GetDanhSachGiaoVienResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDanhSachGiaoVienResult" type="tns:ArrayOfGiaoVien" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDanhSachGiaoVienTheoMonHoc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="maMonHoc" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDanhSachGiaoVienTheoMonHocResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDanhSachGiaoVienTheoMonHocResult" type="tns:ArrayOfGiaoVien" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGiaoVien">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="maGiaoVien" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGiaoVienResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGiaoVienResult" type="tns:GiaoVien" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ThemGiaoVien">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="gv" type="tns:GiaoVien" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ThemGiaoVienResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ThemGiaoVienResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XoaGiaoVien">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="maGiaoVien" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XoaGiaoVienResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="XoaGiaoVienResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CapNhatGiaoVien">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GiaoVienClient" type="tns:GiaoVien" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CapNhatGiaoVienResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CapNhatGiaoVienResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDanhSachPhong">
        <s:complexType />
      </s:element>
      <s:complexType name="ArrayOfPhong">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Phong" nillable="true" type="tns:Phong" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Phong">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="MaPhong" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="TenPhong" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TinhTrang" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="SucChua" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="LoaiPhongReference" type="tns:EntityReferenceOfLoaiPhong" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EntityReferenceOfLoaiPhong">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityReference" />
        </s:complexContent>
      </s:complexType>
      <s:element name="GetDanhSachPhongResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDanhSachPhongResult" type="tns:ArrayOfPhong" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPhong">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="maPhong" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPhongResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPhongResult" type="tns:Phong" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ThemPhong">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="gv" type="tns:Phong" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ThemPhongResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ThemPhongResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XoaPhong">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="maPhong" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XoaPhongResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="XoaPhongResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CapNhatPhong">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PhongClient" type="tns:Phong" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CapNhatPhongResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CapNhatPhongResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDanhSachMonHoc">
        <s:complexType />
      </s:element>
      <s:complexType name="ArrayOfMonHoc">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MonHoc" nillable="true" type="tns:MonHoc" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MonHoc">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="MaMonHoc" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="TenMonHoc" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MoTa" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="MonChinh" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="HeSoMonHoc" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="GhiChu" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="SoTiet" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="LoaiMonHocReference" type="tns:EntityReferenceOfLoaiMonHoc" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EntityReferenceOfLoaiMonHoc">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityReference" />
        </s:complexContent>
      </s:complexType>
      <s:element name="GetDanhSachMonHocResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDanhSachMonHocResult" type="tns:ArrayOfMonHoc" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPhongByMaChiTietTKB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="maCT" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPhongByMaChiTietTKBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPhongByMaChiTietTKBResult" type="tns:Phong" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLopByMaChiTietTKB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="maCT" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLopByMaChiTietTKBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getLopByMaChiTietTKBResult" type="tns:Lop" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getListTKBByGiaoVien">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tenTaiKhoan" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfChiTietTKB">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ChiTietTKB" nillable="true" type="tns:ChiTietTKB" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ChiTietTKB">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="MaChiTietTKB" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TietBatDau" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TietKetThuc" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Thu" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="GiaoVienReference" type="tns:EntityReferenceOfGiaoVien" />
              <s:element minOccurs="0" maxOccurs="1" name="MonHocReference" type="tns:EntityReferenceOfMonHoc" />
              <s:element minOccurs="0" maxOccurs="1" name="PhongReference" type="tns:EntityReferenceOfPhong" />
              <s:element minOccurs="0" maxOccurs="1" name="ThoiKhoaBieuReference" type="tns:EntityReferenceOfThoiKhoaBieu" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EntityReferenceOfGiaoVien">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityReference" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EntityReferenceOfPhong">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityReference" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EntityReferenceOfThoiKhoaBieu">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityReference" />
        </s:complexContent>
      </s:complexType>
      <s:element name="getListTKBByGiaoVienResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getListTKBByGiaoVienResult" type="tns:ArrayOfChiTietTKB" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateTKB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="namHoc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="arrTKB1" type="tns:ArrayOfArrayOfChiTietTKB" />
            <s:element minOccurs="0" maxOccurs="1" name="dsMonHoc" type="tns:ArrayOfMonHoc" />
            <s:element minOccurs="0" maxOccurs="1" name="dsLop" type="tns:ArrayOfLop" />
            <s:element minOccurs="0" maxOccurs="1" name="dsPhong" type="tns:ArrayOfPhong" />
            <s:element minOccurs="0" maxOccurs="1" name="dsGiaoVien" type="tns:ArrayOfGiaoVien" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfArrayOfChiTietTKB">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfChiTietTKB" nillable="true" type="tns:ArrayOfChiTietTKB" />
        </s:sequence>
      </s:complexType>
      <s:element name="GenerateTKBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GenerateTKBResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestCreateTKB">
        <s:complexType />
      </s:element>
      <s:element name="TestCreateTKBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TestCreateTKBResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateTKB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dsLop" type="tns:ArrayOfLop" />
            <s:element minOccurs="0" maxOccurs="1" name="namHoc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateTKBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateTKBResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTKB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="namHoc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfThoiKhoaBieu">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ThoiKhoaBieu" nillable="true" type="tns:ThoiKhoaBieu" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ThoiKhoaBieu">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="MaTKB" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="NamHoc" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LopReference" type="tns:EntityReferenceOfLop" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EntityReferenceOfLop">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityReference" />
        </s:complexContent>
      </s:complexType>
      <s:element name="GetTKBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTKBResult" type="tns:ArrayOfThoiKhoaBieu" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTKBFromLop">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="maLop" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="namHoc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTKBFromLopResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTKBFromLopResult" type="tns:ThoiKhoaBieu" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDanhSachChiTietTKB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="maTKB" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDanhSachChiTietTKBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDanhSachChiTietTKBResult" type="tns:ArrayOfChiTietTKB" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChiTietTKB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="maChiTiet" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChiTietTKBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetChiTietTKBResult" type="tns:ChiTietTKB" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLopFromTKB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="maTKB" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLopFromTKBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLopFromTKBResult" type="tns:Lop" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGiaoVienFromTKB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="maChiTiet" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGiaoVienFromTKBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGiaoVienFromTKBResult" type="tns:GiaoVien" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMonHocFromTKB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="maChiTiet" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMonHocFromTKBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMonHocFromTKBResult" type="tns:MonHoc" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPhongFromTKB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="maChiTiet" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPhongFromTKBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPhongFromTKBResult" type="tns:Phong" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateTKB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="maChiTiet" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="maMH" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="maGV" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="maPhong" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateTKBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateTKBResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NewTKB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lop" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="namHoc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NewTKBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="NewTKBResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteChiTietTKB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="maChiTiet" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteChiTietTKBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteChiTietTKBResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveChiTietTKB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="maTKB" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="thu" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="tiet" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="maMH" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="maGV" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="maPhong" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveChiTietTKBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SaveChiTietTKBResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckUpdateTKB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="maChiTiet" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="maMH" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="maGV" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="maPhong" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckUpdateTKBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckUpdateTKBResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckSaveTKB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="maTKB" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="thu" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="tiet" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="maMH" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="maGV" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="maPhong" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckSaveTKBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckSaveTKBResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="getListPermissionByRoleSoapIn">
    <wsdl:part name="parameters" element="tns:getListPermissionByRole" />
  </wsdl:message>
  <wsdl:message name="getListPermissionByRoleSoapOut">
    <wsdl:part name="parameters" element="tns:getListPermissionByRoleResponse" />
  </wsdl:message>
  <wsdl:message name="getTaiKhoanByUserNameSoapIn">
    <wsdl:part name="parameters" element="tns:getTaiKhoanByUserName" />
  </wsdl:message>
  <wsdl:message name="getTaiKhoanByUserNameSoapOut">
    <wsdl:part name="parameters" element="tns:getTaiKhoanByUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="getLoaiTaiKhoanByUserNameSoapIn">
    <wsdl:part name="parameters" element="tns:getLoaiTaiKhoanByUserName" />
  </wsdl:message>
  <wsdl:message name="getLoaiTaiKhoanByUserNameSoapOut">
    <wsdl:part name="parameters" element="tns:getLoaiTaiKhoanByUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="KiemTraDangNhapSoapIn">
    <wsdl:part name="parameters" element="tns:KiemTraDangNhap" />
  </wsdl:message>
  <wsdl:message name="KiemTraDangNhapSoapOut">
    <wsdl:part name="parameters" element="tns:KiemTraDangNhapResponse" />
  </wsdl:message>
  <wsdl:message name="GetDanhSachLopSoapIn">
    <wsdl:part name="parameters" element="tns:GetDanhSachLop" />
  </wsdl:message>
  <wsdl:message name="GetDanhSachLopSoapOut">
    <wsdl:part name="parameters" element="tns:GetDanhSachLopResponse" />
  </wsdl:message>
  <wsdl:message name="GetLopSoapIn">
    <wsdl:part name="parameters" element="tns:GetLop" />
  </wsdl:message>
  <wsdl:message name="GetLopSoapOut">
    <wsdl:part name="parameters" element="tns:GetLopResponse" />
  </wsdl:message>
  <wsdl:message name="ThemLopSoapIn">
    <wsdl:part name="parameters" element="tns:ThemLop" />
  </wsdl:message>
  <wsdl:message name="ThemLopSoapOut">
    <wsdl:part name="parameters" element="tns:ThemLopResponse" />
  </wsdl:message>
  <wsdl:message name="XoaLopSoapIn">
    <wsdl:part name="parameters" element="tns:XoaLop" />
  </wsdl:message>
  <wsdl:message name="XoaLopSoapOut">
    <wsdl:part name="parameters" element="tns:XoaLopResponse" />
  </wsdl:message>
  <wsdl:message name="CapNhatLopSoapIn">
    <wsdl:part name="parameters" element="tns:CapNhatLop" />
  </wsdl:message>
  <wsdl:message name="CapNhatLopSoapOut">
    <wsdl:part name="parameters" element="tns:CapNhatLopResponse" />
  </wsdl:message>
  <wsdl:message name="GetDanhSachGiaoVienSoapIn">
    <wsdl:part name="parameters" element="tns:GetDanhSachGiaoVien" />
  </wsdl:message>
  <wsdl:message name="GetDanhSachGiaoVienSoapOut">
    <wsdl:part name="parameters" element="tns:GetDanhSachGiaoVienResponse" />
  </wsdl:message>
  <wsdl:message name="GetDanhSachGiaoVienTheoMonHocSoapIn">
    <wsdl:part name="parameters" element="tns:GetDanhSachGiaoVienTheoMonHoc" />
  </wsdl:message>
  <wsdl:message name="GetDanhSachGiaoVienTheoMonHocSoapOut">
    <wsdl:part name="parameters" element="tns:GetDanhSachGiaoVienTheoMonHocResponse" />
  </wsdl:message>
  <wsdl:message name="GetGiaoVienSoapIn">
    <wsdl:part name="parameters" element="tns:GetGiaoVien" />
  </wsdl:message>
  <wsdl:message name="GetGiaoVienSoapOut">
    <wsdl:part name="parameters" element="tns:GetGiaoVienResponse" />
  </wsdl:message>
  <wsdl:message name="ThemGiaoVienSoapIn">
    <wsdl:part name="parameters" element="tns:ThemGiaoVien" />
  </wsdl:message>
  <wsdl:message name="ThemGiaoVienSoapOut">
    <wsdl:part name="parameters" element="tns:ThemGiaoVienResponse" />
  </wsdl:message>
  <wsdl:message name="XoaGiaoVienSoapIn">
    <wsdl:part name="parameters" element="tns:XoaGiaoVien" />
  </wsdl:message>
  <wsdl:message name="XoaGiaoVienSoapOut">
    <wsdl:part name="parameters" element="tns:XoaGiaoVienResponse" />
  </wsdl:message>
  <wsdl:message name="CapNhatGiaoVienSoapIn">
    <wsdl:part name="parameters" element="tns:CapNhatGiaoVien" />
  </wsdl:message>
  <wsdl:message name="CapNhatGiaoVienSoapOut">
    <wsdl:part name="parameters" element="tns:CapNhatGiaoVienResponse" />
  </wsdl:message>
  <wsdl:message name="GetDanhSachPhongSoapIn">
    <wsdl:part name="parameters" element="tns:GetDanhSachPhong" />
  </wsdl:message>
  <wsdl:message name="GetDanhSachPhongSoapOut">
    <wsdl:part name="parameters" element="tns:GetDanhSachPhongResponse" />
  </wsdl:message>
  <wsdl:message name="GetPhongSoapIn">
    <wsdl:part name="parameters" element="tns:GetPhong" />
  </wsdl:message>
  <wsdl:message name="GetPhongSoapOut">
    <wsdl:part name="parameters" element="tns:GetPhongResponse" />
  </wsdl:message>
  <wsdl:message name="ThemPhongSoapIn">
    <wsdl:part name="parameters" element="tns:ThemPhong" />
  </wsdl:message>
  <wsdl:message name="ThemPhongSoapOut">
    <wsdl:part name="parameters" element="tns:ThemPhongResponse" />
  </wsdl:message>
  <wsdl:message name="XoaPhongSoapIn">
    <wsdl:part name="parameters" element="tns:XoaPhong" />
  </wsdl:message>
  <wsdl:message name="XoaPhongSoapOut">
    <wsdl:part name="parameters" element="tns:XoaPhongResponse" />
  </wsdl:message>
  <wsdl:message name="CapNhatPhongSoapIn">
    <wsdl:part name="parameters" element="tns:CapNhatPhong" />
  </wsdl:message>
  <wsdl:message name="CapNhatPhongSoapOut">
    <wsdl:part name="parameters" element="tns:CapNhatPhongResponse" />
  </wsdl:message>
  <wsdl:message name="GetDanhSachMonHocSoapIn">
    <wsdl:part name="parameters" element="tns:GetDanhSachMonHoc" />
  </wsdl:message>
  <wsdl:message name="GetDanhSachMonHocSoapOut">
    <wsdl:part name="parameters" element="tns:GetDanhSachMonHocResponse" />
  </wsdl:message>
  <wsdl:message name="getPhongByMaChiTietTKBSoapIn">
    <wsdl:part name="parameters" element="tns:getPhongByMaChiTietTKB" />
  </wsdl:message>
  <wsdl:message name="getPhongByMaChiTietTKBSoapOut">
    <wsdl:part name="parameters" element="tns:getPhongByMaChiTietTKBResponse" />
  </wsdl:message>
  <wsdl:message name="getLopByMaChiTietTKBSoapIn">
    <wsdl:part name="parameters" element="tns:getLopByMaChiTietTKB" />
  </wsdl:message>
  <wsdl:message name="getLopByMaChiTietTKBSoapOut">
    <wsdl:part name="parameters" element="tns:getLopByMaChiTietTKBResponse" />
  </wsdl:message>
  <wsdl:message name="getListTKBByGiaoVienSoapIn">
    <wsdl:part name="parameters" element="tns:getListTKBByGiaoVien" />
  </wsdl:message>
  <wsdl:message name="getListTKBByGiaoVienSoapOut">
    <wsdl:part name="parameters" element="tns:getListTKBByGiaoVienResponse" />
  </wsdl:message>
  <wsdl:message name="GenerateTKBSoapIn">
    <wsdl:part name="parameters" element="tns:GenerateTKB" />
  </wsdl:message>
  <wsdl:message name="GenerateTKBSoapOut">
    <wsdl:part name="parameters" element="tns:GenerateTKBResponse" />
  </wsdl:message>
  <wsdl:message name="TestCreateTKBSoapIn">
    <wsdl:part name="parameters" element="tns:TestCreateTKB" />
  </wsdl:message>
  <wsdl:message name="TestCreateTKBSoapOut">
    <wsdl:part name="parameters" element="tns:TestCreateTKBResponse" />
  </wsdl:message>
  <wsdl:message name="CreateTKBSoapIn">
    <wsdl:part name="parameters" element="tns:CreateTKB" />
  </wsdl:message>
  <wsdl:message name="CreateTKBSoapOut">
    <wsdl:part name="parameters" element="tns:CreateTKBResponse" />
  </wsdl:message>
  <wsdl:message name="GetTKBSoapIn">
    <wsdl:part name="parameters" element="tns:GetTKB" />
  </wsdl:message>
  <wsdl:message name="GetTKBSoapOut">
    <wsdl:part name="parameters" element="tns:GetTKBResponse" />
  </wsdl:message>
  <wsdl:message name="GetTKBFromLopSoapIn">
    <wsdl:part name="parameters" element="tns:GetTKBFromLop" />
  </wsdl:message>
  <wsdl:message name="GetTKBFromLopSoapOut">
    <wsdl:part name="parameters" element="tns:GetTKBFromLopResponse" />
  </wsdl:message>
  <wsdl:message name="GetDanhSachChiTietTKBSoapIn">
    <wsdl:part name="parameters" element="tns:GetDanhSachChiTietTKB" />
  </wsdl:message>
  <wsdl:message name="GetDanhSachChiTietTKBSoapOut">
    <wsdl:part name="parameters" element="tns:GetDanhSachChiTietTKBResponse" />
  </wsdl:message>
  <wsdl:message name="GetChiTietTKBSoapIn">
    <wsdl:part name="parameters" element="tns:GetChiTietTKB" />
  </wsdl:message>
  <wsdl:message name="GetChiTietTKBSoapOut">
    <wsdl:part name="parameters" element="tns:GetChiTietTKBResponse" />
  </wsdl:message>
  <wsdl:message name="GetLopFromTKBSoapIn">
    <wsdl:part name="parameters" element="tns:GetLopFromTKB" />
  </wsdl:message>
  <wsdl:message name="GetLopFromTKBSoapOut">
    <wsdl:part name="parameters" element="tns:GetLopFromTKBResponse" />
  </wsdl:message>
  <wsdl:message name="GetGiaoVienFromTKBSoapIn">
    <wsdl:part name="parameters" element="tns:GetGiaoVienFromTKB" />
  </wsdl:message>
  <wsdl:message name="GetGiaoVienFromTKBSoapOut">
    <wsdl:part name="parameters" element="tns:GetGiaoVienFromTKBResponse" />
  </wsdl:message>
  <wsdl:message name="GetMonHocFromTKBSoapIn">
    <wsdl:part name="parameters" element="tns:GetMonHocFromTKB" />
  </wsdl:message>
  <wsdl:message name="GetMonHocFromTKBSoapOut">
    <wsdl:part name="parameters" element="tns:GetMonHocFromTKBResponse" />
  </wsdl:message>
  <wsdl:message name="GetPhongFromTKBSoapIn">
    <wsdl:part name="parameters" element="tns:GetPhongFromTKB" />
  </wsdl:message>
  <wsdl:message name="GetPhongFromTKBSoapOut">
    <wsdl:part name="parameters" element="tns:GetPhongFromTKBResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateTKBSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateTKB" />
  </wsdl:message>
  <wsdl:message name="UpdateTKBSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateTKBResponse" />
  </wsdl:message>
  <wsdl:message name="NewTKBSoapIn">
    <wsdl:part name="parameters" element="tns:NewTKB" />
  </wsdl:message>
  <wsdl:message name="NewTKBSoapOut">
    <wsdl:part name="parameters" element="tns:NewTKBResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteChiTietTKBSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteChiTietTKB" />
  </wsdl:message>
  <wsdl:message name="DeleteChiTietTKBSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteChiTietTKBResponse" />
  </wsdl:message>
  <wsdl:message name="SaveChiTietTKBSoapIn">
    <wsdl:part name="parameters" element="tns:SaveChiTietTKB" />
  </wsdl:message>
  <wsdl:message name="SaveChiTietTKBSoapOut">
    <wsdl:part name="parameters" element="tns:SaveChiTietTKBResponse" />
  </wsdl:message>
  <wsdl:message name="CheckUpdateTKBSoapIn">
    <wsdl:part name="parameters" element="tns:CheckUpdateTKB" />
  </wsdl:message>
  <wsdl:message name="CheckUpdateTKBSoapOut">
    <wsdl:part name="parameters" element="tns:CheckUpdateTKBResponse" />
  </wsdl:message>
  <wsdl:message name="CheckSaveTKBSoapIn">
    <wsdl:part name="parameters" element="tns:CheckSaveTKB" />
  </wsdl:message>
  <wsdl:message name="CheckSaveTKBSoapOut">
    <wsdl:part name="parameters" element="tns:CheckSaveTKBResponse" />
  </wsdl:message>
  <wsdl:portType name="G9_ServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getListPermissionByRole">
      <wsdl:input message="tns:getListPermissionByRoleSoapIn" />
      <wsdl:output message="tns:getListPermissionByRoleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTaiKhoanByUserName">
      <wsdl:input message="tns:getTaiKhoanByUserNameSoapIn" />
      <wsdl:output message="tns:getTaiKhoanByUserNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getLoaiTaiKhoanByUserName">
      <wsdl:input message="tns:getLoaiTaiKhoanByUserNameSoapIn" />
      <wsdl:output message="tns:getLoaiTaiKhoanByUserNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="KiemTraDangNhap">
      <wsdl:input message="tns:KiemTraDangNhapSoapIn" />
      <wsdl:output message="tns:KiemTraDangNhapSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDanhSachLop">
      <wsdl:input message="tns:GetDanhSachLopSoapIn" />
      <wsdl:output message="tns:GetDanhSachLopSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLop">
      <wsdl:input message="tns:GetLopSoapIn" />
      <wsdl:output message="tns:GetLopSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ThemLop">
      <wsdl:input message="tns:ThemLopSoapIn" />
      <wsdl:output message="tns:ThemLopSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="XoaLop">
      <wsdl:input message="tns:XoaLopSoapIn" />
      <wsdl:output message="tns:XoaLopSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CapNhatLop">
      <wsdl:input message="tns:CapNhatLopSoapIn" />
      <wsdl:output message="tns:CapNhatLopSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDanhSachGiaoVien">
      <wsdl:input message="tns:GetDanhSachGiaoVienSoapIn" />
      <wsdl:output message="tns:GetDanhSachGiaoVienSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDanhSachGiaoVienTheoMonHoc">
      <wsdl:input message="tns:GetDanhSachGiaoVienTheoMonHocSoapIn" />
      <wsdl:output message="tns:GetDanhSachGiaoVienTheoMonHocSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGiaoVien">
      <wsdl:input message="tns:GetGiaoVienSoapIn" />
      <wsdl:output message="tns:GetGiaoVienSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ThemGiaoVien">
      <wsdl:input message="tns:ThemGiaoVienSoapIn" />
      <wsdl:output message="tns:ThemGiaoVienSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="XoaGiaoVien">
      <wsdl:input message="tns:XoaGiaoVienSoapIn" />
      <wsdl:output message="tns:XoaGiaoVienSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CapNhatGiaoVien">
      <wsdl:input message="tns:CapNhatGiaoVienSoapIn" />
      <wsdl:output message="tns:CapNhatGiaoVienSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDanhSachPhong">
      <wsdl:input message="tns:GetDanhSachPhongSoapIn" />
      <wsdl:output message="tns:GetDanhSachPhongSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPhong">
      <wsdl:input message="tns:GetPhongSoapIn" />
      <wsdl:output message="tns:GetPhongSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ThemPhong">
      <wsdl:input message="tns:ThemPhongSoapIn" />
      <wsdl:output message="tns:ThemPhongSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="XoaPhong">
      <wsdl:input message="tns:XoaPhongSoapIn" />
      <wsdl:output message="tns:XoaPhongSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CapNhatPhong">
      <wsdl:input message="tns:CapNhatPhongSoapIn" />
      <wsdl:output message="tns:CapNhatPhongSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDanhSachMonHoc">
      <wsdl:input message="tns:GetDanhSachMonHocSoapIn" />
      <wsdl:output message="tns:GetDanhSachMonHocSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPhongByMaChiTietTKB">
      <wsdl:input message="tns:getPhongByMaChiTietTKBSoapIn" />
      <wsdl:output message="tns:getPhongByMaChiTietTKBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getLopByMaChiTietTKB">
      <wsdl:input message="tns:getLopByMaChiTietTKBSoapIn" />
      <wsdl:output message="tns:getLopByMaChiTietTKBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getListTKBByGiaoVien">
      <wsdl:input message="tns:getListTKBByGiaoVienSoapIn" />
      <wsdl:output message="tns:getListTKBByGiaoVienSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateTKB">
      <wsdl:input message="tns:GenerateTKBSoapIn" />
      <wsdl:output message="tns:GenerateTKBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestCreateTKB">
      <wsdl:input message="tns:TestCreateTKBSoapIn" />
      <wsdl:output message="tns:TestCreateTKBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateTKB">
      <wsdl:input message="tns:CreateTKBSoapIn" />
      <wsdl:output message="tns:CreateTKBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTKB">
      <wsdl:input message="tns:GetTKBSoapIn" />
      <wsdl:output message="tns:GetTKBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTKBFromLop">
      <wsdl:input message="tns:GetTKBFromLopSoapIn" />
      <wsdl:output message="tns:GetTKBFromLopSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDanhSachChiTietTKB">
      <wsdl:input message="tns:GetDanhSachChiTietTKBSoapIn" />
      <wsdl:output message="tns:GetDanhSachChiTietTKBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetChiTietTKB">
      <wsdl:input message="tns:GetChiTietTKBSoapIn" />
      <wsdl:output message="tns:GetChiTietTKBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLopFromTKB">
      <wsdl:input message="tns:GetLopFromTKBSoapIn" />
      <wsdl:output message="tns:GetLopFromTKBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGiaoVienFromTKB">
      <wsdl:input message="tns:GetGiaoVienFromTKBSoapIn" />
      <wsdl:output message="tns:GetGiaoVienFromTKBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMonHocFromTKB">
      <wsdl:input message="tns:GetMonHocFromTKBSoapIn" />
      <wsdl:output message="tns:GetMonHocFromTKBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPhongFromTKB">
      <wsdl:input message="tns:GetPhongFromTKBSoapIn" />
      <wsdl:output message="tns:GetPhongFromTKBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTKB">
      <wsdl:input message="tns:UpdateTKBSoapIn" />
      <wsdl:output message="tns:UpdateTKBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NewTKB">
      <wsdl:input message="tns:NewTKBSoapIn" />
      <wsdl:output message="tns:NewTKBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteChiTietTKB">
      <wsdl:input message="tns:DeleteChiTietTKBSoapIn" />
      <wsdl:output message="tns:DeleteChiTietTKBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveChiTietTKB">
      <wsdl:input message="tns:SaveChiTietTKBSoapIn" />
      <wsdl:output message="tns:SaveChiTietTKBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckUpdateTKB">
      <wsdl:input message="tns:CheckUpdateTKBSoapIn" />
      <wsdl:output message="tns:CheckUpdateTKBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckSaveTKB">
      <wsdl:input message="tns:CheckSaveTKBSoapIn" />
      <wsdl:output message="tns:CheckSaveTKBSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="G9_ServiceSoap" type="tns:G9_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://abc.com/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListPermissionByRole">
      <soap:operation soapAction="http://abc.com/getListPermissionByRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTaiKhoanByUserName">
      <soap:operation soapAction="http://abc.com/getTaiKhoanByUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLoaiTaiKhoanByUserName">
      <soap:operation soapAction="http://abc.com/getLoaiTaiKhoanByUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KiemTraDangNhap">
      <soap:operation soapAction="http://abc.com/KiemTraDangNhap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDanhSachLop">
      <soap:operation soapAction="http://abc.com/GetDanhSachLop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLop">
      <soap:operation soapAction="http://abc.com/GetLop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemLop">
      <soap:operation soapAction="http://abc.com/ThemLop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaLop">
      <soap:operation soapAction="http://abc.com/XoaLop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapNhatLop">
      <soap:operation soapAction="http://abc.com/CapNhatLop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDanhSachGiaoVien">
      <soap:operation soapAction="http://abc.com/GetDanhSachGiaoVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDanhSachGiaoVienTheoMonHoc">
      <soap:operation soapAction="http://abc.com/GetDanhSachGiaoVienTheoMonHoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGiaoVien">
      <soap:operation soapAction="http://abc.com/GetGiaoVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemGiaoVien">
      <soap:operation soapAction="http://abc.com/ThemGiaoVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaGiaoVien">
      <soap:operation soapAction="http://abc.com/XoaGiaoVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapNhatGiaoVien">
      <soap:operation soapAction="http://abc.com/CapNhatGiaoVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDanhSachPhong">
      <soap:operation soapAction="http://abc.com/GetDanhSachPhong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPhong">
      <soap:operation soapAction="http://abc.com/GetPhong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemPhong">
      <soap:operation soapAction="http://abc.com/ThemPhong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaPhong">
      <soap:operation soapAction="http://abc.com/XoaPhong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapNhatPhong">
      <soap:operation soapAction="http://abc.com/CapNhatPhong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDanhSachMonHoc">
      <soap:operation soapAction="http://abc.com/GetDanhSachMonHoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPhongByMaChiTietTKB">
      <soap:operation soapAction="http://abc.com/getPhongByMaChiTietTKB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLopByMaChiTietTKB">
      <soap:operation soapAction="http://abc.com/getLopByMaChiTietTKB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListTKBByGiaoVien">
      <soap:operation soapAction="http://abc.com/getListTKBByGiaoVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateTKB">
      <soap:operation soapAction="http://abc.com/GenerateTKB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestCreateTKB">
      <soap:operation soapAction="http://abc.com/TestCreateTKB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTKB">
      <soap:operation soapAction="http://abc.com/CreateTKB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTKB">
      <soap:operation soapAction="http://abc.com/GetTKB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTKBFromLop">
      <soap:operation soapAction="http://abc.com/GetTKBFromLop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDanhSachChiTietTKB">
      <soap:operation soapAction="http://abc.com/GetDanhSachChiTietTKB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChiTietTKB">
      <soap:operation soapAction="http://abc.com/GetChiTietTKB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLopFromTKB">
      <soap:operation soapAction="http://abc.com/GetLopFromTKB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGiaoVienFromTKB">
      <soap:operation soapAction="http://abc.com/GetGiaoVienFromTKB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMonHocFromTKB">
      <soap:operation soapAction="http://abc.com/GetMonHocFromTKB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPhongFromTKB">
      <soap:operation soapAction="http://abc.com/GetPhongFromTKB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTKB">
      <soap:operation soapAction="http://abc.com/UpdateTKB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewTKB">
      <soap:operation soapAction="http://abc.com/NewTKB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteChiTietTKB">
      <soap:operation soapAction="http://abc.com/DeleteChiTietTKB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveChiTietTKB">
      <soap:operation soapAction="http://abc.com/SaveChiTietTKB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUpdateTKB">
      <soap:operation soapAction="http://abc.com/CheckUpdateTKB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckSaveTKB">
      <soap:operation soapAction="http://abc.com/CheckSaveTKB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="G9_ServiceSoap12" type="tns:G9_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://abc.com/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListPermissionByRole">
      <soap12:operation soapAction="http://abc.com/getListPermissionByRole" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTaiKhoanByUserName">
      <soap12:operation soapAction="http://abc.com/getTaiKhoanByUserName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLoaiTaiKhoanByUserName">
      <soap12:operation soapAction="http://abc.com/getLoaiTaiKhoanByUserName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KiemTraDangNhap">
      <soap12:operation soapAction="http://abc.com/KiemTraDangNhap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDanhSachLop">
      <soap12:operation soapAction="http://abc.com/GetDanhSachLop" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLop">
      <soap12:operation soapAction="http://abc.com/GetLop" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemLop">
      <soap12:operation soapAction="http://abc.com/ThemLop" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaLop">
      <soap12:operation soapAction="http://abc.com/XoaLop" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapNhatLop">
      <soap12:operation soapAction="http://abc.com/CapNhatLop" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDanhSachGiaoVien">
      <soap12:operation soapAction="http://abc.com/GetDanhSachGiaoVien" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDanhSachGiaoVienTheoMonHoc">
      <soap12:operation soapAction="http://abc.com/GetDanhSachGiaoVienTheoMonHoc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGiaoVien">
      <soap12:operation soapAction="http://abc.com/GetGiaoVien" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemGiaoVien">
      <soap12:operation soapAction="http://abc.com/ThemGiaoVien" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaGiaoVien">
      <soap12:operation soapAction="http://abc.com/XoaGiaoVien" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapNhatGiaoVien">
      <soap12:operation soapAction="http://abc.com/CapNhatGiaoVien" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDanhSachPhong">
      <soap12:operation soapAction="http://abc.com/GetDanhSachPhong" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPhong">
      <soap12:operation soapAction="http://abc.com/GetPhong" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemPhong">
      <soap12:operation soapAction="http://abc.com/ThemPhong" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaPhong">
      <soap12:operation soapAction="http://abc.com/XoaPhong" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapNhatPhong">
      <soap12:operation soapAction="http://abc.com/CapNhatPhong" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDanhSachMonHoc">
      <soap12:operation soapAction="http://abc.com/GetDanhSachMonHoc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPhongByMaChiTietTKB">
      <soap12:operation soapAction="http://abc.com/getPhongByMaChiTietTKB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLopByMaChiTietTKB">
      <soap12:operation soapAction="http://abc.com/getLopByMaChiTietTKB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListTKBByGiaoVien">
      <soap12:operation soapAction="http://abc.com/getListTKBByGiaoVien" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateTKB">
      <soap12:operation soapAction="http://abc.com/GenerateTKB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestCreateTKB">
      <soap12:operation soapAction="http://abc.com/TestCreateTKB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTKB">
      <soap12:operation soapAction="http://abc.com/CreateTKB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTKB">
      <soap12:operation soapAction="http://abc.com/GetTKB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTKBFromLop">
      <soap12:operation soapAction="http://abc.com/GetTKBFromLop" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDanhSachChiTietTKB">
      <soap12:operation soapAction="http://abc.com/GetDanhSachChiTietTKB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChiTietTKB">
      <soap12:operation soapAction="http://abc.com/GetChiTietTKB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLopFromTKB">
      <soap12:operation soapAction="http://abc.com/GetLopFromTKB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGiaoVienFromTKB">
      <soap12:operation soapAction="http://abc.com/GetGiaoVienFromTKB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMonHocFromTKB">
      <soap12:operation soapAction="http://abc.com/GetMonHocFromTKB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPhongFromTKB">
      <soap12:operation soapAction="http://abc.com/GetPhongFromTKB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTKB">
      <soap12:operation soapAction="http://abc.com/UpdateTKB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewTKB">
      <soap12:operation soapAction="http://abc.com/NewTKB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteChiTietTKB">
      <soap12:operation soapAction="http://abc.com/DeleteChiTietTKB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveChiTietTKB">
      <soap12:operation soapAction="http://abc.com/SaveChiTietTKB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUpdateTKB">
      <soap12:operation soapAction="http://abc.com/CheckUpdateTKB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckSaveTKB">
      <soap12:operation soapAction="http://abc.com/CheckSaveTKB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="G9_Service">
    <wsdl:port name="G9_ServiceSoap" binding="tns:G9_ServiceSoap">
      <soap:address location="http://localhost:60000/G9Service.asmx" />
    </wsdl:port>
    <wsdl:port name="G9_ServiceSoap12" binding="tns:G9_ServiceSoap12">
      <soap12:address location="http://localhost:60000/G9Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>